.poster{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
}
.Title{
    font-size: 40px;
    font-weight: bold;
}
.quote{
    font-size: 24px;
    font-style: italic;
    margin: 10.px 0,
}
.author{
    font-size: 18px;
    font-weight: lighter;
    
}

